//Variables
$mainColor: #D59755;
$blackColor: #1C1D2B;

@import "bootstrap.min.css";

//import
@import "scss/_functions.scss";
@import "scss/_variables.scss";
@import "scss/mixins/_breakpoints.scss";
@import "fontawesome-all.css";

//Font
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700,800,900&display=swap');
// setting
a:hover {
  @extend %transition3;
  text-decoration: none;
  color: initial;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.my-btn {
  @extend %my-btn;
}

body {
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
  //overflow: hidden;
}
.sup-page-header{
  width: 100%;
  height: 121px;
  background-color: white;
  position: relative;
  header .navbar{
    padding-top: 0.5rem;
  }
  .navbar .navbar-nav .nav-item a{
    color: $blackColor;
    @include media-breakpoint-down(md){
      color: white;
    }
  }
  .fixed{
    .navbar .navbar-nav .nav-item a{
      color: white;
    }
  }
}


//loading
.loading-overly {
  position: fixed;
  top: 0;
  left: 0;
  background: $mainColor;
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

main {
  //overflow: hidden;
}

.home-slider {

  background: url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 145px;
  @include media-breakpoint-between(md, lg) {
    height: auto;
    padding-bottom: 90px;
  }

  .big-top-title {
    @extend %before-line;
    width: max-content;

    h3 {
      @include media-breakpoint-down(sm) {
        font-size: 23px;
      }
    }

    h2 {
      font-size: 37px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
  }
}

header {
  @extend %transition5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .navbar {
    padding-top: 20px;

    .navbar-collapse {
      @include media-breakpoint-down(md) {
        text-align: center;
        background-color: $blackColor;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .navbar-brand {
      img {
        max-height: 95px;
        width: auto;
      }
    }

    .navbar-nav {
      .nav-item {
        @include media-breakpoint-up(md) {
          padding-right: 30px;
        }

        &.active {
          a {
            color: $mainColor;
          }
        }

        a {
          font-weight: 500;
          color: #fff;
          font-size: 17px;
          @extend %line-hover;

          &:hover {
            color: #fff;
          }

          &.login-btn {
            @extend %my-btn;
          }
        }
      }
    }
  }
}

.slider-steps {
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  span {
    font-size: 40px;
    color: #fff;
    @include media-breakpoint-down(sm) {
      font-size: 34px;
    }
  }

  p {
    color: white;
    font-size: 18px;
  }
}

.slider-img-container {
  img {
    border-radius: 49px;
  }

  width: 80%;
  height: 100%;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.main-home-section {
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
  padding-top: 14px;
  margin-top: -75px;

  &:before {
    @include media-breakpoint-down(md) {
      display: none;
    }
    position: absolute;
    content: '';
    background: url(../img/shep1.png) no-repeat;
    right: 15px;
    top: 93px;
    z-index: 0;
    width: 167px;
    height: 218px;
    background-size: contain;
  }

}

.why-us {
  background-color: #fafafa;
  padding-top: 100px;

  h2 {
    font-weight: 700;
    font-size: 40px;
    @extend %before-line;

    &:before {
      left: calc(100% + 50px) !important;
      top: 17px !important;
    }
  }
}

.download-list {
  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }

  li {
    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .list-inline-item:not(:last-child) {
    margin-left: 1.5rem;
  }

  p {
    font-size: 18px;
    font-weight: 600;
  }

  a {
    display: inline-block;

    img {
      max-height: 55px;
      width: auto;
    }
  }
}

//who section
.who-we-are-section {

  @include media-breakpoint-up(lg) {
    margin-top: 150px;
  }

  .col-lg-2 {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-color: #EDB881;
      opacity: 0.28;
      height: 100%;
      width: 85px;
      right: -50px;
      z-index: 0;
    }
  }

  .who-box {
    z-index: 1;

    h5 {
      font-size: 47px;
    }

    h4 {
      font-size: 58px;
      margin-top: -18px;
      font-weight: 600;
      color: $mainColor;
    }

    span {
      top: 0;
      position: absolute;
      z-index: 1;
      left: 0;
      text-align: left;

      img {
        width: 65%;
      }

    }
  }
}

.read-more {
  color: $blackColor;
  font-size: 20px;
  font-weight: 600;
  @extend %under-link;

  i {
    color: $mainColor;
    margin-right: 5px;
    position: relative;
    top: 2px;
    @extend %transition3
  }

  &:hover {
    i {
      margin-right: 10px;
      transform: rotateY(180deg);
    }
  }
}

.count-section {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  background: url(../img/bg1.jpg);

  &:before {
    content: '';
    display: block;
    top: 0;
    background: url(../img/shep2.png) no-repeat right;
    background-size: contain;
    width: 400px;
    position: absolute;
    right: -135px;
    height: 118%;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &:after {
    content: '';
    display: block;
    top: 0;
    background: url(../img/shep2.png) no-repeat left;
    background-size: contain;
    width: 400px;
    position: absolute;
    left: -135px;
    height: 118%;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .row {
    .col-lg-3:not(:last-child) {
      @include media-breakpoint-down(md) {
        .count-circle {
          margin-bottom: 70px;
        }
      }
    }
  }

  .count-circle {

    -webkit-box-shadow: 0px 0px 0px 18px rgba(255, 255, 255, 0.41);
    -moz-box-shadow: 0px 0px 0px 18px rgba(255, 255, 255, 0.41);
    box-shadow: 0px 0px 0px 18px rgba(255, 255, 255, 0.41);
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: -10px;
    background-color: white;
    border-radius: 50%;

    img {
      height: 50px;
      width: auto;
    }

    h2 {
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 0;
    }

    p {
      margin: 0;
      color: $mainColor;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(112, 112, 112, 0.42);
  margin: 20px 0;
}

.color-hover {
  color: $blackColor;

  &:hover {
    @extend %transition3;
    color: $mainColor;
  }
}

.navbar-light .navbar-toggler {
  border-color: $mainColor;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(213, 151, 85, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.black-color {
  color: $blackColor;
}

.black-logo {
  display: none;
}

.fixed.sticky {
  position: fixed;
  -webkit-animation: mymove 0.5s ; /* Safari 4.0 - 8.0 */
  animation: mymove 0.5s ;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: $blackColor;
  z-index: 1000;
  .navbar {
    padding-top: 15px;
    @extend %transition5
  }
  .black-logo {
    display: inline-block;
    img{
      max-height: 45px;
      width: auto;
    }
  }

  .white-logo {
    display: none;
  }


  .navbar .navbar-nav .nav-item.active a {
    color: $mainColor;
  }
}

@-webkit-keyframes mymove {
  from {top: -100px;}
  to {top: 0;}
}
//loading
.sk-folding-cube {
  margin: 50vh auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blackColor;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

//footer
.footer-container {
  background: #fafafa;
  position: relative;

  &:before {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    content: '';
    width: 82px;
    height: 100%;
    top: 0;
    background: url(../img/footer-bg.png);
    z-index: 1;
    display: block;
    position: absolute;
    right: -45px;
  }

  .footer-logo {
    max-width: 120px;
  }

  h4 {
    color: $blackColor;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-top: 10px;
    }
  }

  .footer-lest {
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 4px;
      }

      a {
        display: inline-block;
        @extend %line-hover;
        color: $blackColor;
        font-weight: 500;

      }
    }
  }

  a.down {
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      max-width: 135px;
      height: auto;
    }
  }
}
.sup-page-content{
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    top: 20px;
    background: url(../img/shep3.png) no-repeat right;
    background-size: contain;
    width: 260px;
    position: absolute;
    right: -131px;
    height: 378px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &:after{
    content: '';
    display: block;
    top: 20px;
    background: url(../img/shep3.png) no-repeat right;
    background-size: contain;
    width: 260px;
    position: absolute;
    left: -131px;
    height: 378px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
//who we
.who-title{
  h2 {
    margin-top: 40px;
    color: #CACACA;
    font-weight: 700;
    font-size: 60px;


    span {
      font-weight: 500;
    }
  }
  h5{
    @extend %before-after-title;
    @include media-breakpoint-down(md){
      font-size: 16px;
    }
    color: $blackColor;
    margin-top: 5px;
    display: inline-block;
    padding: 10px 20px;
  }
}
//Extend
%before-after-title{
  position: relative;
  &:before{
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    width: 2px;
    top:0;
    left: 0;
    background-color: $mainColor;
  }
  &:after{
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    width: 2px;
    top:0;
    right: 0;
    background-color: $mainColor;
  }
}
%under-link {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $mainColor;
    bottom: -2px;
    transition: all ease-in-out 0.3s;
  }

  &:hover:before {
    width: 15px;
  }
}

%before-line {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #D59755;
    top: 8px;
    height: 17px;
    width: 300px;
    left: calc(100% + 20px);
  }
}

%line-hover {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $mainColor;
    @extend %transition3
  }

  &:hover:before {
    width: 100%;
  }
}

%transition5 {
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

%transition3 {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

%my-btn {
  @extend %transition3;
  position: relative;
  border: 0;
  border-radius: 50px;
  outline: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: $mainColor;
  color: #fff;
  padding: 8px 20px 10px 20px;
  font-weight: 600;

  &:focus, &:visited {
    outline: none;
  }

  &:hover {
    color: #fff;
  }
}

/*btn-4 Start*/
.btn-4 {
  overflow: hidden;
  position: relative;
}

.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.btn-4 > span {
  z-index: 20;
  position: relative;
}

.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*btn-4 End*/
.h-85 {
  height: 85%;
}

::selection {
  background-color: $mainColor;
  color: white;
}
